@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;500;900");

* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #111;
    color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    width: 80%;
    height: 80%;
}

h1 {
    font-size: clamp(14px, 4.5vw, 3em)
}

span {
    color: #cd8912;
}

#map {
    background-color: #333;
    width: 100%;
    height: 450px;
    border-radius: 10px;
    margin-top: 10px;
}